
.header_one{
	text-align:center;
	float:right;
	position:relative;
	margin:0 0 0 0;
	
}

.header_one h1{
	
	font-size:72px;

	
}


.header_one p{

	margin: 16px 0 0 0;
    font-size: 48px;
    font-weight: bold;
	
	
	
}

.out{
	
	/*border:1px solid #000;*/
	
	width:1920px;	
	margin:0;
	padding:0;
}


.teach_class{
	background:url('../images/teach_one.png') no-repeat;
	background-size:cover;
}

.content{
	padding:35px 0 !important;
}

.teach_cont{
	width:40%;
    padding: 100px 0;
    display: inline-block;
}

.title_one{
	width:100%;
}

.teach_cont h2{
	
	font-size:18px;
	
	
}
.teach_cont .title_one p{
	
	margin: 16px 0 0 0;
    font-size: 18px;
    font-weight: bold;
	
}


.content_one{
	width:100%;
	
}

.teach_cont .content_one p{


	margin: 45px 0 0 0;
    font-size: 14px;
	line-height:30px;
   
}
.primary_class{

}
.primary_img{
    text-align: center;
}
.primary_img img{
	width:70%;
	height:100%;
}


.primary_one{
	/*margin-left: 3.6%;
   	margin-top: 39px;;
	position:absolute;*/
	
}
.primary_class{
    background: #fcfcfc;
    margin-top: -60px;
    padding-top: 60px;
    border-radius: 3px;
}

.primary_class .primary_one p{
	margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}

.primary_class .primary_one h2{
	border-left:5px solid #db2d43;
	padding-left:10px;
	font-size:18px;
	line-height: 100%;
}

#title_one{
	

	
}

#teach_cont{
	
	float:right;
	width: 40%;
}
