.header{
    /*background: url("../images/banner.png") no-repeat 100% 100%;*/
}
.header img{
    width: 100%;
    position: relative;
}
.header .nav{
    position: absolute;
    right: 30px;
    top: 20px;
}
.header .nav .layui-nav{
    background: none;
    color:#0C0C0C;
    text-align: right;
}
.header .nav .layui-nav a{
    color:#3a3a3a;
    font-size: 18px;
}
.header .nav .layui-nav .layui-nav-child a{
    font-size: 18px;
}

.header{
    position: relative;
}
.header .header_title{
    position: absolute;
    right: 120px;
    bottom: 30%;
}
.header .header_title h2{
    font-size: 50px;
}
.header .header_title p{
    font-size: 40px;
}







