.header{
    height: 400px;
}
/*.header img{
    width: 100%;
    position: relative;
}
.header .nav{
    position: absolute;
    right: 30px;
    top: 20px;
}*/
.header .nav{
    padding: 10px;
}
.header .nav .layui-nav{
    background: none;
    color:#0C0C0C;
    text-align: right;
}
.header .nav .layui-nav a{
    color:#fff;
    font-size: 18px;
}
.header .nav .layui-nav .layui-nav-child a{
    font-size: 18px;
}
/**/
.header{
    overflow: hidden;
    position: relative;
}
.header .header_title{
    color:#fff;
    margin-top: 80px;
}
.header .header_title h2{
    font-size: 30px;

}
.header .header_title p{
    font-size: 30px;
    margin-top: 6px;
}
/**/
.header_content{
    margin-top: 15%;
    color:#fff;
}
.header_content .header_content_body{
    margin-left: 30px;
}
.header_content p{
    margin-top: 26px;

    line-height: 24px;
}
.header_content .layui-btn{
    background-color: #2c757c;
}







