@media screen and (min-width: 1200px) {
   .trading .trading_img .trading_img_left{
       padding-right: 10px;
   }
    .trading .trading_img .trading_img_right{
        padding-left: 10px;
    }

}
@media screen and (min-width: 992px) {

}

@media screen and (max-width: 768px) {
    .certificate .certificate_body li p{
        padding:0;

    }
}



